/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`

// $primary: mat-palette($mat-lime, 500);
// $accent:  mat-palette($mat-lime, 500, A200, A400);
// $warn:    mat-palette($mat-red, 500);

// $config: mat-typography-config();

// $theme: mat-light-theme($primary, $accent, $warn);

// import custom componenet themes
// unofficial naming convention to support nice ordering of files in IDE
// to see theme under the original style file of the componenent


// $my-theme-primary: mat.define-palette(mat.$green-palette, 500);
// $my-theme-accent: mat.define-palette(mat.$light-green-palette, 500, A200, A400);
// $my-theme-warn: mat.define-palette(mat.$red-palette, 900);

$my-theme: mat.m2-define-light-theme((
    color: (
      primary: mat.m2-define-palette(mat.$m2-indigo-palette),
      accent: mat.m2-define-palette(mat.$m2-pink-palette),
      warn: mat.m2-define-palette(mat.$m2-red-palette)
    ),
   ));

  

$dark-theme: mat.m2-define-dark-theme((
    color: (
      primary: mat.m2-define-palette(mat.$m2-pink-palette),
      accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
      warn: mat.m2-define-palette(mat.$m2-red-palette)
    ),
     // Only include `typography` and `density` in the default dark theme.
     typography: mat.m2-define-typography-config(),
     density: 0,
   ));
